@model List<UsersIndexViewModel>;

@{
    ViewData["Title"] = "Users list";
}

<div class="container">
    <h1>Users list</h1>

    <div class="row">
        <div class="col-12">

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Created at</th>
                        <th>Is Active?</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Username</td>
                            <td>@item.Fullname</td>
                            <td>@item.Email</td>
                            <td>@item.Age</td>
                            <td>@item.CreatedAt</td>
                            <td>
                                @if (item.IsActive == true)
                                {
                                    <label class="text-success">Active</label>
                                }
                                else
                                {
                                    <label class="text-danger">Inactive</label>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                
            </table>

        </div>
    </div>

</div>