@model List<UsersExtended>;

@{
    ViewData["Title"] = "UsersExtended list";
}

<div class="container">
    <h1>Users list</h1>

    <a asp-action="Create" class="btn btn-success">Add new</a>
    <div class="row">
        <div class="col-12">

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created at</th>
                        <th>Is Active?</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.role_description</td>
                        <td>@item.FullName</td>
                        <td>@item.email</td>
                        <td>@item.created_at</td>
                        <td>
                            @if (item.is_active == true)
                            {
                                <label class="text-success">Active</label>
                            }
                            else
                            {
                                <label class="text-danger">Inactive</label>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.user_id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.user_id">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>